/**, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.no-padding {
    padding: 0px !important;
}

h3 {
    font-family: 'ralewayregular' !important;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.text-right {
    text-align: right
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-new-lg-1, .col-new-lg-10, .col-new-lg-11, .col-new-lg-12, .col-new-lg-2, .col-new-lg-3, .col-new-lg-4, .col-new-lg-5, .col-new-lg-6, .col-new-lg-7, .col-new-lg-8, .col-new-lg-9, .col-new-md-1, .col-new-md-10, .col-new-md-11, .col-new-md-12, .col-new-md-2, .col-new-md-3, .col-new-md-4, .col-new-md-5, .col-new-md-6, .col-new-md-7, .col-new-md-8, .col-new-md-9, .col-new-sm-1, .col-new-sm-10, .col-new-sm-11, .col-new-sm-12, .col-new-sm-2, .col-new-sm-3, .col-new-sm-4, .col-new-sm-5, .col-new-sm-6, .col-new-sm-7, .col-new-sm-8, .col-new-sm-9, .col-new-xs-1, .col-new-xs-10, .col-new-xs-11, .col-new-xs-12, .col-new-xs-2, .col-new-xs-3, .col-new-xs-4, .col-new-xs-5, .col-new-xs-6, .col-new-xs-7, .col-new-xs-8, .col-new-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-new-xs-1, .col-new-xs-10, .col-new-xs-11, .col-new-xs-12, .col-new-xs-2, .col-new-xs-3, .col-new-xs-4, .col-new-xs-5, .col-new-xs-6, .col-new-xs-7, .col-new-xs-8, .col-new-xs-9 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-new-xs-12 {
    width: 100%
}

.col-new-xs-11 {
    width: 91.66666667%
}

.col-new-xs-10 {
    width: 83.33333333%
}

.col-new-xs-9 {
    width: 75%
}

.col-new-xs-8 {
    width: 66.66666667%
}

.col-new-xs-7 {
    width: 58.33333333%
}

.col-new-xs-6 {
    width: 50%
}

.col-new-xs-5 {
    width: 41.66666667%
}

.col-new-xs-4 {
    width: 33.33333333%
}

.col-new-xs-3 {
    width: 25%
}

.col-new-xs-2 {
    width: 16.66666667%
}

.col-new-xs-1 {
    width: 8.33333333%
}

.col-new-xs-pull-12 {
    right: 100%
}

.col-new-xs-pull-11 {
    right: 91.66666667%
}

.col-new-xs-pull-10 {
    right: 83.33333333%
}

.col-new-xs-pull-9 {
    right: 75%
}

.col-new-xs-pull-8 {
    right: 66.66666667%
}

.col-new-xs-pull-7 {
    right: 58.33333333%
}

.col-new-xs-pull-6 {
    right: 50%
}

.col-new-xs-pull-5 {
    right: 41.66666667%
}

.col-new-xs-pull-4 {
    right: 33.33333333%
}

.col-new-xs-pull-3 {
    right: 25%
}

.col-new-xs-pull-2 {
    right: 16.66666667%
}

.col-new-xs-pull-1 {
    right: 8.33333333%
}

.col-new-xs-pull-0 {
    right: auto
}

.col-new-xs-push-12 {
    left: 100%
}

.col-new-xs-push-11 {
    left: 91.66666667%
}

.col-new-xs-push-10 {
    left: 83.33333333%
}

.col-new-xs-push-9 {
    left: 75%
}

.col-new-xs-push-8 {
    left: 66.66666667%
}

.col-new-xs-push-7 {
    left: 58.33333333%
}

.col-new-xs-push-6 {
    left: 50%
}

.col-new-xs-push-5 {
    left: 41.66666667%
}

.col-new-xs-push-4 {
    left: 33.33333333%
}

.col-new-xs-push-3 {
    left: 25%
}

.col-new-xs-push-2 {
    left: 16.66666667%
}

.col-new-xs-push-1 {
    left: 8.33333333%
}

.col-new-xs-push-0 {
    left: auto
}

.col-new-xs-offset-12 {
    margin-left: 100%
}

.col-new-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-new-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-new-xs-offset-9 {
    margin-left: 75%
}

.col-new-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-new-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-new-xs-offset-6 {
    margin-left: 50%
}

.col-new-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-new-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-new-xs-offset-3 {
    margin-left: 25%
}

.col-new-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-new-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-new-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {
    .col-new-sm-1, .col-new-sm-10, .col-new-sm-11, .col-new-sm-12, .col-new-sm-2, .col-new-sm-3, .col-new-sm-4, .col-new-sm-5, .col-new-sm-6, .col-new-sm-7, .col-new-sm-8, .col-new-sm-9 {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .col-new-sm-12 {
        width: 100%
    }
    .col-new-sm-11 {
        width: 91.66666667%
    }
    .col-new-sm-10 {
        width: 83.33333333%
    }
    .col-new-sm-9 {
        width: 75%
    }
    .col-new-sm-8 {
        width: 66.66666667%
    }
    .col-new-sm-7 {
        width: 58.33333333%
    }
    .col-new-sm-6 {
        width: 50%
    }
    .col-new-sm-5 {
        width: 41.66666667%
    }
    .col-new-sm-4 {
        width: 33.33333333%
    }
    .col-new-sm-3 {
        width: 25%
    }
    .col-new-sm-2 {
        width: 16.66666667%
    }
    .col-new-sm-1 {
        width: 8.33333333%
    }
    .col-new-sm-pull-12 {
        right: 100%
    }
    .col-new-sm-pull-11 {
        right: 91.66666667%
    }
    .col-new-sm-pull-10 {
        right: 83.33333333%
    }
    .col-new-sm-pull-9 {
        right: 75%
    }
    .col-new-sm-pull-8 {
        right: 66.66666667%
    }
    .col-new-sm-pull-7 {
        right: 58.33333333%
    }
    .col-new-sm-pull-6 {
        right: 50%
    }
    .col-new-sm-pull-5 {
        right: 41.66666667%
    }
    .col-new-sm-pull-4 {
        right: 33.33333333%
    }
    .col-new-sm-pull-3 {
        right: 25%
    }
    .col-new-sm-pull-2 {
        right: 16.66666667%
    }
    .col-new-sm-pull-1 {
        right: 8.33333333%
    }
    .col-new-sm-pull-0 {
        right: auto
    }
    .col-new-sm-push-12 {
        left: 100%
    }
    .col-new-sm-push-11 {
        left: 91.66666667%
    }
    .col-new-sm-push-10 {
        left: 83.33333333%
    }
    .col-new-sm-push-9 {
        left: 75%
    }
    .col-new-sm-push-8 {
        left: 66.66666667%
    }
    .col-new-sm-push-7 {
        left: 58.33333333%
    }
    .col-new-sm-push-6 {
        left: 50%
    }
    .col-new-sm-push-5 {
        left: 41.66666667%
    }
    .col-new-sm-push-4 {
        left: 33.33333333%
    }
    .col-new-sm-push-3 {
        left: 25%
    }
    .col-new-sm-push-2 {
        left: 16.66666667%
    }
    .col-new-sm-push-1 {
        left: 8.33333333%
    }
    .col-new-sm-push-0 {
        left: auto
    }
    .col-new-sm-offset-12 {
        margin-left: 100%
    }
    .col-new-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-new-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-new-sm-offset-9 {
        margin-left: 75%
    }
    .col-new-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-new-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-new-sm-offset-6 {
        margin-left: 50%
    }
    .col-new-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-new-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-new-sm-offset-3 {
        margin-left: 25%
    }
    .col-new-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-new-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-new-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {
    .col-new-md-1, .col-new-md-10, .col-new-md-11, .col-new-md-12, .col-new-md-2, .col-new-md-3, .col-new-md-4, .col-new-md-5, .col-new-md-6, .col-new-md-7, .col-new-md-8, .col-new-md-9 {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .col-new-md-12 {
        width: 100%
    }
    .col-new-md-11 {
        width: 91.66666667%
    }
    .col-new-md-10 {
        width: 83.33333333%
    }
    .col-new-md-9 {
        width: 75%
    }
    .col-new-md-8 {
        width: 66.66666667%
    }
    .col-new-md-7 {
        width: 58.33333333%
    }
    .col-new-md-6 {
        width: 50%
    }
    .col-new-md-5 {
        width: 41.66666667%
    }
    .col-new-md-4 {
        width: 33.33333333%
    }
    .col-new-md-3 {
        width: 25%
    }
    .col-new-md-2 {
        width: 16.66666667%
    }
    .col-new-md-1 {
        width: 8.33333333%
    }
    .col-new-md-pull-12 {
        right: 100%
    }
    .col-new-md-pull-11 {
        right: 91.66666667%
    }
    .col-new-md-pull-10 {
        right: 83.33333333%
    }
    .col-new-md-pull-9 {
        right: 75%
    }
    .col-new-md-pull-8 {
        right: 66.66666667%
    }
    .col-new-md-pull-7 {
        right: 58.33333333%
    }
    .col-new-md-pull-6 {
        right: 50%
    }
    .col-new-md-pull-5 {
        right: 41.66666667%
    }
    .col-new-md-pull-4 {
        right: 33.33333333%
    }
    .col-new-md-pull-3 {
        right: 25%
    }
    .col-new-md-pull-2 {
        right: 16.66666667%
    }
    .col-new-md-pull-1 {
        right: 8.33333333%
    }
    .col-new-md-pull-0 {
        right: auto
    }
    .col-new-md-push-12 {
        left: 100%
    }
    .col-new-md-push-11 {
        left: 91.66666667%
    }
    .col-new-md-push-10 {
        left: 83.33333333%
    }
    .col-new-md-push-9 {
        left: 75%
    }
    .col-new-md-push-8 {
        left: 66.66666667%
    }
    .col-new-md-push-7 {
        left: 58.33333333%
    }
    .col-new-md-push-6 {
        left: 50%
    }
    .col-new-md-push-5 {
        left: 41.66666667%
    }
    .col-new-md-push-4 {
        left: 33.33333333%
    }
    .col-new-md-push-3 {
        left: 25%
    }
    .col-new-md-push-2 {
        left: 16.66666667%
    }
    .col-new-md-push-1 {
        left: 8.33333333%
    }
    .col-new-md-push-0 {
        left: auto
    }
    .col-new-md-offset-12 {
        margin-left: 100%
    }
    .col-new-md-offset-11 {
        margin-left: 91.66666667%
    }
    .col-new-md-offset-10 {
        margin-left: 83.33333333%
    }
    .col-new-md-offset-9 {
        margin-left: 75%
    }
    .col-new-md-offset-8 {
        margin-left: 66.66666667%
    }
    .col-new-md-offset-7 {
        margin-left: 58.33333333%
    }
    .col-new-md-offset-6 {
        margin-left: 50%
    }
    .col-new-md-offset-5 {
        margin-left: 41.66666667%
    }
    .col-new-md-offset-4 {
        margin-left: 33.33333333%
    }
    .col-new-md-offset-3 {
        margin-left: 25%
    }
    .col-new-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-new-md-offset-1 {
        margin-left: 8.33333333%
    }
    .col-new-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {
    .col-new-lg-1, .col-new-lg-10, .col-new-lg-11, .col-new-lg-12, .col-new-lg-2, .col-new-lg-3, .col-new-lg-4, .col-new-lg-5, .col-new-lg-6, .col-new-lg-7, .col-new-lg-8, .col-new-lg-9 {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .col-new-lg-12 {
        width: 100%
    }
    .col-new-lg-11 {
        width: 91.66666667%
    }
    .col-new-lg-10 {
        width: 83.33333333%
    }
    .col-new-lg-9 {
        width: 75%
    }
    .col-new-lg-8 {
        width: 66.66666667%
    }
    .col-new-lg-7 {
        width: 58.33333333%
    }
    .col-new-lg-6 {
        width: 50%
    }
    .col-new-lg-5 {
        width: 41.66666667%
    }
    .col-new-lg-4 {
        width: 33.33333333%
    }
    .col-new-lg-3 {
        width: 25%
    }
    .col-new-lg-2 {
        width: 16.66666667%
    }
    .col-new-lg-1 {
        width: 8.33333333%
    }
    .col-new-lg-pull-12 {
        right: 100%
    }
    .col-new-lg-pull-11 {
        right: 91.66666667%
    }
    .col-new-lg-pull-10 {
        right: 83.33333333%
    }
    .col-new-lg-pull-9 {
        right: 75%
    }
    .col-new-lg-pull-8 {
        right: 66.66666667%
    }
    .col-new-lg-pull-7 {
        right: 58.33333333%
    }
    .col-new-lg-pull-6 {
        right: 50%
    }
    .col-new-lg-pull-5 {
        right: 41.66666667%
    }
    .col-new-lg-pull-4 {
        right: 33.33333333%
    }
    .col-new-lg-pull-3 {
        right: 25%
    }
    .col-new-lg-pull-2 {
        right: 16.66666667%
    }
    .col-new-lg-pull-1 {
        right: 8.33333333%
    }
    .col-new-lg-pull-0 {
        right: auto
    }
    .col-new-lg-push-12 {
        left: 100%
    }
    .col-new-lg-push-11 {
        left: 91.66666667%
    }
    .col-new-lg-push-10 {
        left: 83.33333333%
    }
    .col-new-lg-push-9 {
        left: 75%
    }
    .col-new-lg-push-8 {
        left: 66.66666667%
    }
    .col-new-lg-push-7 {
        left: 58.33333333%
    }
    .col-new-lg-push-6 {
        left: 50%
    }
    .col-new-lg-push-5 {
        left: 41.66666667%
    }
    .col-new-lg-push-4 {
        left: 33.33333333%
    }
    .col-new-lg-push-3 {
        left: 25%
    }
    .col-new-lg-push-2 {
        left: 16.66666667%
    }
    .col-new-lg-push-1 {
        left: 8.33333333%
    }
    .col-new-lg-push-0 {
        left: auto
    }
    .col-new-lg-offset-12 {
        margin-left: 100%
    }
    .col-new-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .col-new-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .col-new-lg-offset-9 {
        margin-left: 75%
    }
    .col-new-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .col-new-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .col-new-lg-offset-6 {
        margin-left: 50%
    }
    .col-new-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .col-new-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .col-new-lg-offset-3 {
        margin-left: 25%
    }
    .col-new-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .col-new-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .col-new-lg-offset-0 {
        margin-left: 0
    }
}

.text-center {
    text-align: center;
}

.underline {
    width: 8%;
    height: 3px;
    margin: auto;
    background-color: #00968a;
}

.car-request-heading {
    padding-top: 30px;
    padding-bottom: 30px;
}

.car-request-heading h1 {
    font-family: 'ralewaybold';
    margin-bottom: 10px;
    text-transform: uppercase;
}

.car-booking-form h3 {
    margin-bottom: 10px;
    font-family: 'ralewayregular';
}

.car-booking-input {
    width: 95%;
    height: 35px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-left: 18px;
    font-family: 'ralewaybold';
    font-size: 16px;
}

.address i {
    padding-left: 10px;
    color: #00968a;
}

.car-pricing {
    padding-top: 50px;
    padding-bottom: 50px;
}

.price-text {
    font-family: 'ralewayregular';
    margin-right: 10px;
    font-size: 16px;
}

.price-number {
    padding: 15px 40px;
    background-color: #00968a;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
}

.button-section {
    margin-top: 90px;
    margin-bottom: 90px;
}

.button-design {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00968a;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    font-family: 'ralewayregular';
}

.button-design-transparent {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #00968a;
    border-radius: 4px;
    color: #00968a;
    font-size: 24px;
    font-family: 'ralewayregular';
}

.car-center-text {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 499px;
    left: 25%;
}

.car-center-detail {
    background-color: rgba(0, 150, 138, 0.75);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.car-center-detail h2 {
    color: #fff;
    font-family: 'ralewaybold';
    font-size: 64px;
    margin-bottom: 3px;
    margin-top: 0px;
}

.dollar-icon {
    font-size: 16px;
    position: relative;
    top: -34px;
    left: 10px;
}

.car-center-detail p {
    color: #fff;
    font-family: 'ralewayregular';
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 20px;
    position: relative;
    top: -13px;
    left: 10px;
}

.car-name h4 {
    color: #fff;
    font-family: 'ralewayregular';
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 3px;
}

.car-name h2 {
    color: #fff;
    font-family: 'ralewayregular';
    margin-bottom: 3px;
    font-size: 30px;
}

.car-name-2 h2 {
    color: #fff;
    font-family: 'ralewayregular';
    margin-bottom: 3px;
    font-size: 36px;
    margin-top: 20px;
}

.car-name-2 h4 {
    color: #fff;
    font-family: 'ralewayregular';
    font-size: 18px;
    margin-top: 3px;
}


/*slider css starts*/

.slider {
    margin: 0 auto;
    max-width: 100%;
}

.slide_viewer {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide img {
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    /*height: 340px;*/
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }
}


/*slider css ends*/

767px) {
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }
}


/*slider css ends*/


/*upload image css starts*/

.file-upload {
    background-color: #ffffff;
    width: 97%;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #00968a;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #00968a;
    position: relative;
}

.image-dropping, .image-upload-wrap:hover {}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #00968a;
    padding: 20px 0;
    font-family: 'ralewayregular';
    font-size: 36px;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}


/*upload image css ends*/

.modal-content-new {
    border-radius: 0px !important;
    background-image:
}

.modal-dialog-new {
    margin: 115px auto !important;
    width: 350px !important;
}

.close-new {
    font-size: 24px;
    background-color: #757575 !important;
    padding: 0px 7px !important;
    border-radius: 50%;
    color: #fff;
    float: right !important;
    border: none !important;
}

.modal-header-new {
    border-bottom: none !important;
}

.verifying {
    font-size: 18px;
    margin-top: 3px;
    color: #616161;
    font-family: 'ralewayregular';
}

.waiting-message {
    font-size: 20px;
    color: #000;
    font-family: 'ralewayregular';
    margin-bottom: 0px;
}

.green-body {
    background-color: #00968a !important;
    color: #fff !important;
}

.waiting-message1 {
    font-size: 18px;
    color: #fff;
    font-family: 'ralewayregular';
    margin-bottom: 0px;
    margin-top: 0px;
}

.cancel-message {
    font-size: 18px;
    color: #000;
    font-family: 'ralewayregular';
    line-height: 25px;
}

.yes-button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00968a;
    color: #fff;
}

.no-button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #171717;
    color: #fff;
}

.radio-text {
    position: relative;
    top: -5px;
    font-family: 'ralewayregular';
}

.radio-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.remarks-textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.trip-detail-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.trip-box {
    border: 1px solid #666666;
}

.trip-details-tabs {
    padding: 0px;
    margin: 0px;
}

.trip-details-tabs li {
    width: 50%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'ralewayregular';
}

.car-features-points {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 300px;
    overflow: auto;
}

.car-features-points h4 {
    margin-bottom: 40px;
}

.review-section {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.owned-by {
    padding-top: 20px;
    padding-bottom: 40px;
}

.owned-by h3 {
    color: #00968a;
    font-family: 'ralewaybold';
}

.owned-by h1 {
    font-family: 'ralewaybold';
    color: #202020;
}

.response-section h1 {
    font-family: 'ralewaybold';
    color: #4a4849;
    margin-bottom: 50px;
}

.green-text {
    color: #00968a;
}

.review-rating-section {
    padding-top: 30px;
}

.review-image {
    padding-bottom: 10px;
}

.review-image img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #666;
}

.rating i {
    font-size: 24px;
    color: #00968a;
}

.rating-number h1 {
    font-family: 'ralewaylight';
    font-size: 62px;
    margin-top: 5px;
}

.fill-details-rating h3 {
    font-family: 'ralewaybold';
    margin-top: 0px;
}
