/*
Plugin: Zenith 
Author: ALeksej Vukomanovic
Version: 1.0
*/
@font-face {
font-family:'ralewaybold';
src:url('railway/raleway-bold.eot');
src:url('railway/raleway-bold.eot?#iefix') format('embedded-opentype'), url('railway/raleway-bold.woff2') format('woff2'), url('railway/raleway-bold.woff') format('woff'), url('railway/raleway-bold.ttf') format('truetype'), url('railway/raleway-bold.svg#ralewaybold') format('svg');
font-weight:normal;
font-style:normal
}
@font-face {
font-family:'ralewaylight';
src:url('railway/raleway-light.eot');
src:url('railway/raleway-light.eot?#iefix') format('embedded-opentype'), url('railway/raleway-light.woff2') format('woff2'), url('railway/raleway-light.woff') format('woff'), url('railway/raleway-light.ttf') format('truetype'), url('railway/raleway-light.svg#ralewaylight') format('svg');
font-weight:normal;
font-style:normal
}
@font-face {
font-family:'ralewayregular';
src:url('railway/raleway-regular.eot');
src:url('railway/raleway-regular.eot?#iefix') format('embedded-opentype'), url('railway/raleway-regular.woff2') format('woff2'), url('railway/raleway-regular.woff') format('woff'), url('railway/raleway-regular.ttf') format('truetype'), url('railway/raleway-regular.svg#ralewayregular') format('svg');
font-weight:normal;
font-style:normal
}
.zenith_slider:before,
.zenith_slider:after,
.row:before,
.row:after{
  display: table;
  content: " ";
}
.zenith_slider:after,
.row:after{
  clear:both;
}
.zenith_slider { padding: 3% 0;  padding-left: 15px; padding-right: 15px;}
.zenith_slider .row{z-index: 2; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; width: 31.777777%; margin-right: -15px; margin-left: -15px;}
.zenith_slider ul {list-style: none;  z-index: 2;}
.highlight h3 {position: relative; margin-top: 10px; display: inline-block; font-size: 17px; vertical-align: middle;font-family:'ralewaybold'; max-width: 70%;}
.highlight h3:after{content: ' '; display: block; position: absolute; bottom: -50%; width: 0; left: 40%; margin: 0 20%; height: 2px; background: crimson; visibility: hidden; transition: all 0.45s ease; -webkit-transition: all 0.45s ease; -moz-transition: all 0.45s ease;}
.highlight.active h3:after{width: 60%; left:0; visibility: visible;}
.highlight { cursor: pointer; margin-bottom: 0px;}
.highlight p { text-align: justify; margin-top: 0;font-family:'ralewayregular';}
.highlight span { text-align: center; display: inline-block; vertical-align: top; padding: 10px 12px; background: rgba(9,16,26,0.85);border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; background-image: linear-gradient(0deg, rgba(92,92,92,0)34%, rgba(92,92,92, 0.4)24%); -moz-background-image: linear-gradient(0deg, rgba(92,92,92,0)34%, rgba(92,92,92, 0.4)24%); -webkit-background-image: linear-gradient(0deg, rgba(92,92,92,0)34%, rgba(92,92,92, 0.4)24%); -o-background-image: linear-gradient(0deg, rgba(92,92,92,0)34%, rgba(92,92,92, 0.4)24%);transition: color 0.5s ease-in; -webkit-transition: color 0.5s ease-in; -ms-transition: color 0.5s ease-in; -moz-transition: color 0.5s ease-in; -o-transition: color 0.5s ease-in;}
.highlight-title {text-align: center; text-transform: uppercase; width: 105%}
.highlights-phone{ width: 40%;height: 600px; float: left;}
.phone-holder{  display: block; height: 520px; position: relative;  top: 40px; left: 19px; width: 258px; margin: auto; overflow: hidden}
#fon{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/phone-black.png) center top no-repeat; background-position-x: -27px; z-index: 2; overflow: hidden;}
.highlights-phone.wht .phone-holder #fon{background: url(../images/phone-white.png) center top no-repeat; background-position-x: -27px;}
.hgi{position: absolute; top: 58px; left: 12px; width: 235px;height: 400px; visibility: hidden;}
.hgi img{width: 100%;height: 400px;}
.highlights-phone.wht .hgi{top: 52px;}
.hgi.active{visibility: visible;}
.right-row {padding-right: 0; float: right;}
.left-row{float: left; margin-right: 0;}
.left-row .highlight-title{text-align: right;}
.left-row .highlight-title span{right: -8px;}
.right-row .highlight-title span{left: -8px;}
.right-row .highlight-title{ text-align: left;}
.right-row ul {padding: 0 40px 0 0;}
.left-row p {padding-right: 18%;}
.right-row p {padding-left: 18%;}
.highlight-title span{position: relative; z-index: 1;}
.highlight-title .fa{color: #FFFFF0; font-size: 40px; width: 40px; height: 44px; text-align: center; vertical-align: middle;}
.highlight-title .fa:before{margin: 3px 0; display: block}
.highlight-title span {background: #333;-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s; -moz-transition: -moz-transform ease-out 0.1s, background 0.2s; transition: transform ease-out 0.1s, background 0.2s;}
.highlight-title span:after {top: 0;left: 0;padding: 0;z-index: -1;box-shadow: inset 0 0 0 2px rgba(9,16,26,0.76);opacity: 0; -webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9);pointer-events: none;position: absolute;width: 100%;height: 100%;content: '';-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
.highlight.active .highlight-title span {background: crimson; webkit-transform: scale(0.93);-moz-transform: scale(0.93);-ms-transform: scale(0.93);transform: scale(0.93);}
.highlight:hover .highlight-title span:after {-webkit-animation: sonarEffect 1.3s ease-out 75ms;-moz-animation: sonarEffect 1.3s ease-out 75ms;animation: sonarEffect 1.3s ease-out 75ms;}
/*==============================================
              SECOND LAYOUT
===============================================*/
.zenith_slider.hand .phone-hand{position: relative; width: 490px; height: 704px; display: inline-block; background: url(../image/hand-black.png) no-repeat; background-size: cover; }              
.zenith_slider.hand .highlights, .zenith_slider.hand .phone-hand{vertical-align: top}
.zenith_slider.hand .highlights{display: inline-block; width: 40%; margin-top: -30px;}
.zenith_slider.hand .highlights ul{max-width: 370px;}
.zenith_slider.hand .row{width: 95%; margin: auto; text-align: center;}
.zenith_slider.hand .highlight-title{text-align: right; }
.zenith_slider.hand .highlight-title .fa{right: -8px;}
.zenith_slider.hand .highlight p {padding-right: 13%;font-family:'ralewayregular';font-size:15px;}
.zenith_slider.hand .highlight{position: relative;}
.zenith_slider.hand #inner-screen{position: absolute;top: 57px;left: 71px;width: 190px; height: 340px; overflow: hidden; z-index: 2}
.zenith_slider.hand .hgi{top: 0;left: 0;width: 100%; height: 100%;}
.zenith_slider.hand .hgi img{width: 190px; height: 340px;}

@media only screen and (max-width: 360px) {
  .highlight, .zenith-small .highlight {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 490px){
   .zenith_slider .row, .zenith-small .row {
      margin: auto;
      float: none;
      width: 90%;
     }
    .highlight h3, .zenith-small .highlight h3 {
        max-width: 70%;
    }
	.zenith_slider.hand .phone-hand{width: 300px;height: 514px;}
	.zenith_slider.hand #inner-screen{top: 42px;left: 52px;width: 137px;height: 244px;}
	.zenith_slider.hand .row{width:100%;padding:0;}
	.zenith_slider.hand .highlights ul{width:100%!important;max-width:100%;}
	.highlight-title{width:100%;}
	.zenith_slider.hand .highlight-title .fa{right:0px;margin-left:10px;}
	.highlight h3, .zenith-medium .highlight h3{max-width: 100%!important;}
	.dwnld-sec .dwnld-part .part1{width:100%;margin-top:10px;}
	.dwnld-sec{height:560px;}
}
@media only screen and (max-width: 880px){
  .zenith_slider .row, .zenith-medium .row{
    display: block; 
    width: 90%; 
    margin: auto;
  }
  .highlights-phone, .zenith-medium .highlights-phone{ 
    float: none;
    width: 70%;
    margin: auto;}
  }
  .highlight h3, .zenith-medium .highlight h3{
    max-width: 60%;
  }
  .tf_thumb, .zenith-medium .tf_thumb{width: 65px; height: 65px;}
}
@media only screen and (max-width: 1100px){
    .highlights-phone{ 
      float: none;
      width: 70%;
      margin: auto;
     }
     .highlight h3{
       max-width: 67%;
     }
}
@media only screen and (min-width: 880px){
    .tf_thumb, .zenith-medium .tf_thumb{width: 92px; height: 92px;}
}
@media only screen and (min-width: 1200px){
     .zenith_slider {
       padding-left: 0;
       padding-right: 0;
     }
     .tf_thumb{width: 108px; height: 108px;}
}
@media only screen and (min-width: 1600px) {
    .highlight h3{max-width: 89%;}
}
@media only screen and (min-width: 1660px) and (max-width: 1760px) {
    .zenith_slider {
       padding-left: 7%;
       padding-right: 7%;
    }
}
@media only screen and (min-width: 1025px){
   .zenith_slider.hand .row{height:500px;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .zenith_slider.hand .highlights{width: 90%;}
	.zenith_slider.hand .highlights ul{margin:0 auto;}
}
@media only screen and (min-width: 538px) and (max-width: 767px) {
    .zenith_slider.hand .highlights{width: 100%;}
	.zenith_slider.hand .highlights ul{margin:0 auto;}
}
@media only screen and (max-width: 537px) {
    .zenith_slider.hand .highlights{width: 100%;}
	.zenith_slider.hand .highlights ul{margin:0 auto;padding:0;}
}
@media only screen and (max-width: 852px) {	.top-menu .top-right{display:none;}}
@media only screen and (min-width: 1760px){
 
  .zenith_slider {
    padding-left: 7%;
    padding-right: 7%;
  }
}